.grilla{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.botones{
    display: flex;
    height: 20px;
    justify-self: center;
}