.data-pkmn{
    top: -70%;
    left: -50%;
}

.equipo-pkmn{
    border: 10px ridge var(--button-dex-color);
    max-width: fit-content;
    min-width: 50%;
    min-height: 136px;
}
.pc-pkmn{
    border: 10px ridge var(--grass-color);
    min-height: 136px;
}
.almacenamiento-container {
    background-image: url('/pokeball_background.jpg'); /* Ruta desde la raíz pública */
    background-size: cover; /* Ajusta para que el fondo cubra el contenedor */
    background-position: center; /* Centra la imagen */
}
