.data-pkmn{
    top: -20%;
    left: -50%;
}

.equipo-pkmn{
    border: 10px ridge var(--button-dex-color);
    max-width: fit-content;
    min-width: 50%;
    min-height: 136px;
}
.pc-pkmn{
    border: 10px ridge var(--grass-color);
}
